.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: pink;
  font-family: "Roboto", sans-serif;
}

a {
  color: purple;
  text-decoration: none;
}

header {
  border-bottom: 1px solid purple;
  padding: 0 0 10px 0;
}

.weather-app {
  background-color: white;
  margin: 35px auto;
  max-width: 600px;
  box-shadow: 0 30px 50px #41326414;
  box-shadow: 0 2px 2px 0;
  box-shadow: 0 30px 50px #41326414;

  border-radius: 16px;
  padding: 30px;
}

.search-input {
  background: pink;
  border: none;
  padding: 20px;
  border-radius: 16px;
  width: 84%;
  margin: 0 0 30px 0;
}

.search-button {
  background: purple;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 20px;
  margin: 20px 0 30px 0;
}

main {
  padding: 30px 0 0 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  line-height: 38px;
  font-size: 40px;
}
.current-details {
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

.current-details strong {
  color: #f65282;
}

strong {
  color: #f65282;
}

.current-temperature {
  display: flex;
  padding: 6px 7px 0 0;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 60px;
  font-weight: bold;
  padding-top: 12px;
}

.current-temperature-unit {
  padding: 15px 0 0 0;
  font-size: 30px;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  margin: 30px 0 0 0;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid purple;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 13px;
}

.forecastBlock {
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 30px;
}

.forecastTemperatures {
  color: red;
  display: flex;
  justify-content: center;
}

.temperatureHigh,
.temperatureLow {
  font-weight: bold;
  padding: 4px;
}

.temperatureLow {
  opacity: 0.5;
}

.forecastIcon {
  display: block;
  margin: 0 auto;
  width: 90px;
  text-align: center;
}

